body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderItem {
  visibility: visible;
  display: inline-block;
  transition: display 2s;
  overflow: hidden;
}

.image {
  height: 25rem;
  width: 15rem;
  transition: visibility 1s, opacity 0.5s linear;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next,
.prev {
  font-size: 2rem;
  margin: 2rem;
}
.next:hover,
.prev:hover {
  background-color: grey;
}
